# Dependencies
node_modules/
Front-end/node_modules/
back-end/node_modules/

# Build outputs
Front-end/dist/

# Env files
.env
*.env
back-end/.env
Front-end/.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.DS_Store
